{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card box-shadow m-2 from-w">
            <div class="card-header text-center">
                <h3> Выберите </h3>
                <a href="/integration">
                    <button class="btn btn-primary">Интегрировать</button>
                </a>

                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                    <button class="btn btn-primary">Дифферинцировать</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}